/* Variables de couleurs */
:root {
    --primary-color: #3498db;
    --primary-color-dark: #2980b9;
    --secondary-color: #e74c3c;
    --secondary-color-dark: #c0392b;
    --text-color-primary: #333;
    --text-color-secondary: #666;
    --background-color: #f9f9f9;
    --white-color: #fff;
    --border-color: #ccc;
  }
  
  /* Général */
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
  }
  
  /* Formulaire */
  form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--white-color);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  /* Labels */
  label {
    display: block;
    font-weight: bold;
    margin: 10px 0 5px;
    color: var(--text-color-primary);
  }
  
  /* Champs de saisie */
  input, quill-editor {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out;
  }
  
  input:focus, quill-editor:focus-within {
    border-color: var(--primary-color);
    outline: none;
  }
  
  /* Style du Quill Editor */
  quill-editor {
    min-height: 200px;
    background-color: var(--background-color);
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  /* Bouton */
  button {
    width: 100%;
    padding: 12px;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    transition: background-color 0.3s ease-in-out;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  button:hover:not(:disabled) {
    background-color: var(--primary-color-dark);
  }
  
  /* Message de succès */
  p {
    color: green;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
  
  p.hidden {
    opacity: 0;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    form {
        padding: 15px;
    }
  
    button {
        margin-top: 10px;
    }
  }
  .ql-editor img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%; /* pour éviter les débordements */
  }
  