<div class="container mx-auto px-4 py-10">
    <h1 class="text-4xl font-bold text-center mb-6 text-[var(--primary)]">Notre Blog</h1>


  
    <div class="flex justify-end mb-6">
      <a [routerLink]="['/admin/addblog']"
         class="bg-[var(--primary)] text-white px-5 py-2 rounded-lg font-medium hover:bg-opacity-90 transition">
         Créer un blog
      </a>
    </div>
          @if(!blogPosts || blogPosts.length === 0){
      <p class="text-center text-gray-500 text-lg">
      Aucun article disponible pour le moment.
    </p>
    }
    @else{
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
      <article *ngFor="let post of blogPosts" class="bg-white hover:shadow-xl transition-shadow duration-300 rounded-xl overflow-hidden border border-gray-200 flex flex-col justify-between">
        @if(post.image && post.image.length > 0){
        <img [src]='imageBaseUrl+post.image[0].url' alt="blog" class="w-full h-48 object-cover">
        }
        @else{
        <img src="assets/images/no-image.png" alt="blog" class="w-full h-48 object-cover">
        }
        <div class="p-6 flex flex-col flex-grow">
          <p class="text-sm font-medium mb-2">
            Statut :
            <span [ngClass]="{
              'text-green-600': post.status === 'PUBLIER',
              'text-yellow-600': post.status === 'BROUILLON',
              'text-gray-500': post.status === 'ARCHIVE'
            }">
              {{ post.status === 'PUBLIER' ? 'Publié' : (post.status === 'BROUILLON' ? 'Brouillon' : 'Archivé') }}
            </span>
          </p>
          
          
          <h2 class="text-2xl font-semibold mb-2 text-gray-800">{{ post.titre }}</h2>
          <p class="text-sm text-gray-500 mb-3">{{ post.datePublication | date:'short' }}</p>
          <p class="text-gray-700 mb-4 flex-grow truncate">{{ stripHtml(post.contenu) }}</p>
          <div class="mt-auto">
            <a [routerLink]="['/blog', post.id]" class="text-[var(--primary)] font-semibold hover:underline">Lire plus →</a>
          </div>
        </div>
      
        <!-- Boutons modifier/supprimer en bas avec un fond gris clair -->
        <div class="flex justify-end items-center space-x-4 bg-gray-50 px-6 py-3 border-t border-gray-200">
          <a [routerLink]="['/admin/updateblog', post.id]"
             class="text-blue-600 hover:text-blue-800"
             title="Edit">
            <span class="material-icons">edit</span>
          </a>
          <button (click)="deleteBlog(post.id)"
             class="text-red-600 hover:text-red-800"
             title="Delete">
            <span class="material-icons">delete</span>
          </button>
        </div>
        
      </article>
      
    </div>
  }
  </div>
  