 @if(activeContent1Section()){
<section [id]="activeContent1Section()?.type" class="py-12 sm:py-16 px-4 sm:px-6 bg-[#f8f5f2] text-[#333333]">
  <div class="max-w-4xl mx-auto text-center">
    <h2 class="text-2xl sm:text-3xl md:text-4xl font-bold mb-4 sm:mb-6 leading-tight">
      {{ content1Content()?.title }}
    </h2>
    
    <p class="text-base sm:text-lg mb-8 sm:mb-12">
      {{ content1Content()?.subtitle }}
    </p>
    
    <div class="border-t border-[#d1c7b7] w-20 mx-auto mb-8 sm:mb-12"></div>
    
    <!-- Features Grid -->
    <div class="grid grid-cols-2 md:grid-cols-3 gap-4 sm:gap-6 md:gap-8">
      @for(imageAndText of content1Content()?.imagesAndText;track $index){
        <div class="flex flex-col items-center ">
        <div class="w-12 h-12 sm:w-16 sm:h-16 mb-3 sm:mb-4 flex items-center justify-center rounded-full bg-[#e8e0d5]">
          <img [src]="imageAndText.imageUrl ? imageBaseUrl + imageAndText.imageUrl : imageAltRecord['content1'][$index]" alt="Image" class="h-12 w-12 sm:h-16 sm:w-16 sm:w-16 sm:h-16 rounded-full object-cover" />
        </div>
        <h3 class="font-bold mb-1 text-sm sm:text-base">{{ imageAndText.title }}</h3>
        <p class="text-xs sm:text-sm">{{ imageAndText.subtitle }}</p>
      </div>
      }
    </div>
  </div>
</section>
}