<!-- Angular Template -->
@if(activeRightBarSections()) {
    <div class="fixed right-4 top-1/2 z-20">
        <div class="flex flex-col gap-4">
            @for(item of rightBarContent()!; track $index){
                <a 
                    [href]="item.url" 
                    target="_blank" 
                    class="flex items-center justify-end group" 
                    (mouseover)="mouseOverIndex($event,$index)" 
                    (mouseout)="mouseOverIndex($event,-1)"
                >
                    <div class="flex items-center rounded-full bg-[var(--primary)] hover:bg-[var(--hover)] shadow-lg hover:shadow-xl transition-all duration-200 overflow-hidden"
                         [class.pr-0]="hoveredBar !== $index"
                         [class.pr-4]="hoveredBar === $index">
                         <div class="w-10 h-10 flex items-center justify-center transition-transform duration-300">
                            @if(item.imageUrl){
                                    <img 
                            [src]="imageBaseUrl+item.imageUrl"
                            alt="Social Link"
                            [class.translate-x-0]="hoveredBar === $index"
                        />
                            }
                            @else {
                                <img 
                src="/assets/images/no-image.png" 
                alt="No image available"
                class="opacity-70 object-contain"
              />
                            }
                    
                        </div>
                        @if(hoveredBar === $index){
                            <div @slideInOut class="text-[var(--text2)] px-4 py-2 whitespace-nowrap ">
                                <span>{{item.text}}</span>
                            </div>
                        }

                    </div>
                </a>
            }
        </div>
    </div>
}
